.logo-container {

    position: absolute;
    right: 10%;
    top: 27%;
    transform: translateY(0);
    width: 40%;
    max-height: 90%;

    svg {
        width: 100%;
        height: auto;
        bottom: 0; 
        transform: rotateZ(30deg) !important;
    }

    .solid-logo {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 100%;
        opacity: 0;
        z-index: 1;
    }
}

.svg-container {
    stroke: #ffd700;
    stroke-width: 10;
}